<%- include("header") -%>

    <div class="box" id="heading">
      <% if (today.includes("Sunday") || today.includes("Saturday")) { %>
      <h1 style="color: red"><%= today %></h1>
      <% } else { %>
      <h1 style="color: blue"><%= today %></h1>
      <% } %>
    </div>
    <div class="box">
      <% for(let i = 0; i < data.length; i++){ %>
        <div class="item">
            <input type="checkbox" />
            <p><%= data[i] %></p>
        </div>
      <% } %>
      <div class="item">
        <form action="/" method="post">
        <input
            name="task"
            type="text"
            placeholder="What's on your mind?"
            autocomplete="off"
            autofocus
        />
        <button name="button" type="submit">+</button>
        </form>
    </div>
    </div>
    
<%- include("footer") -%>
